### **XMO Channel Metrics**
<a name="xmo_channel"></a>

### Resource Overview

| Method | URI Format |
|---|---|
| GET | /client_reports/xmedia_channel/[gmaid]?[query_params] |


Use GET to retrieve campaign performance metrics by channel (search, social etc.) for the Cross Media Optimization (XMO) campaigns. This API can be used to see how each channel performed for an Xmedia Campaign.


### Parameters

When using the GET method, the results can be filtered using these parameters:

| Param | Function|
|---|---|
|`start_date`| Restricts the results to those ocurring on or after this date|
|`end_date`| Restricts the results to those ocurring on or before this date|
|`global_master_campaign_id[]`|Restrict results to one or more specific campaigns|
|`campaign_status[]`| Restrict results to all campaigns with given status values.  Allowed values are `running`, `stopped` and `ended`|
|`campaign_cycle`| Restrict results to a single campaign cycle |
|`interval_size`| Use `calendar_month` or `calendar_week` to roll up the data points into calendar intervals (default is 1 day per interval)|
|`include_cycles`| Set to true or false on whether to include cycle nesting.  Default value is false|
|`channels[]`|Specifies which channels to filter results by. Valid channels are `search`, `display`, `social`, `chat`, `video` and `other`|
|`campaign_types[]`|Default: `xmedia` (can be used to return other campaign types)|
<% if false %>
|`markup_type`|Only supported value is 'percentage' |
| `markup_value`|"cost" fields (spend & budget) will be marked up by this pecentage |
<% end %>

### Response Data Details

> Retrieve data for a specific range of dates

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?start_date=2020-03-10&end_date=2020-03-10"
```

> Retrieve data for a specific range of dates
```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?start_date=2016-12-01&end_date=2016-12-31"
```
> Retrieve data for a specific campaign starting on a certain date
```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?global_master_campaign_id[]=USA_14&start_date=2016-10-01&end_date=2016-12-31"
```
> Retrieve data for a specific campaign cycle
```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?campaign_cycle=USA_100"
```
> Retrieve data for campaigns that are stopped and running
```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?campaign_status[]=running&campaign_status[]=stopped&start_date=2016-10-01&end_date=2016-12-31"
```

> Retrieve data for a specific campaign starting on a certain date with cycle nesting
```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?global_master_campaign_id[]=USA_14&start_date=2016-10-01&end_date=2016-12-31&include_cycles=true"
```

> Retrieve data for specific channels
```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia_channel/TEST_1?global_master_campaign_id[]=USA_14&start_date=2016-10-01&end_date=2016-12-31&channels[]=display&channels[]=search"
```


| Field Name | Datatype | Description |
|---|---|---|
|`api_name`|String|Name of the API|
|`api_run_date`|String|Date report was run|
|`earliest_date_available`|String|Earliest Data is Available|
|`start_date`|String|Start date of report|
|`end_date`|String|End date of report|
|`time_zone`|String|Time Zone|
|`interval_size`|String|Interval Size ('none', 'day', 'calendar_week' or 'calendar_month')|
|`currency`|String|Currency Type of Monetary Values Returned in Report (Example: USD, AUD, CAD)|
|`global_master_advertiser_id`|String|Global Master Advertiser ID|
|`advertiser_name`|String|Name of the Advertiser|
|`report_data`|Object|Report details|

**Report Data Object**

| Field Name | Datatype | Description |
|---|---|---|
|`campaigns`|Object|Data for specified campaign.[Campaigns.](#xmocampaigns)|
|`totals`|Object|Data for Overall Totals [Totals Object.](#xmototals)|
|`totals_per_interval`|Object|Overall Totals Broken Down by Interval [Totals by Interval Object.](#totalsinterval)|
|`totals_by_channel`|Object|Overall Totals Broken Down by Channel [Totals Per Channel Object.](#totalschannel)|
|`totals_by_publisher`|Object|Overall Totals Broken Down by Publisher [Totals Per Publisher Object.](#totalspublisher)|

<a name="xmocampaigns"></a>
**Campaigns**

| Field Name | Datatype |  Description |
|---|---|---|
| name | String | Campaign Name |
| global_master_campaign_id | String | Unique Identifier for Campaign |
| organization | String | Either reachlocal or gannett |
| start_date | String | Campaign Start Date |
| end_date | String | Campaign End Date |
| type | String |  Type of Campaign |
| status | String |  Status of Campaign |
| goals | Array |  Array of Goals |
| cycles | Cycle[] | Array of Cycles |
| impressions | Int | Total Impressions for Campaign |
| clicks | Float | Total Clicks for Campaign |
| views | Float | Total Views for Campaign which is the Clicks if Publisher_ID is 65 |
| click_to_calls | Int | Total Click-to-Calls for Campaign. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int |Total Calls for Campaign | A non-lead generating CVT/Web Event
| qualified_web_events | Int | Total Lead Generating CVT/Web Events for Campaign |
| non_qualified_web_events | Int  | Total Non-Lead Generating CVT/Web Events for Campaign |
| emails | Int | Total Emails for Campaign |
| chats | Int  | Total chat generated by paid traffic for Campaign |
| leads | Int | Total Leads for Campaign (calls + email + chat + qualified web events) |
| spend | Float | Total Spend for Campaign |
| ctr | Float | Click-through Rate for Campaign |
| cpc | Float | Cost Per Click for Campaign |
| cpl | Float | Cost Per Lead for Campaign |
| link_clicks | Int | Total link clicks for Campaign |
| post_engagements | Float | Total post engagements for a Campaign |
| post_engagements | Float | Total page engagements for a Campaign|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Campaign |
| form_submissions_ct |Float|Total For Submission Click Through for Campaign|
| form_submissions_vt |Float|Total Form Submission View Through for Campaign|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Campaign|
| priority_page_views_vt |Float|Total Priority Page View Through for Campaign|
| website_visits_vt |Float|Total Website Visits View Through for Campaign|
| walk_ins |Float|Total Walk-ins for Campaign|
| engagements |Float|Total engagements for Campaign|
| engagement_rate |Float|Total engagement rate for Campaign|
| cost_per_engagement |Float|Total cost per engagement for Campaign|



<a name="xmocycles"></a>
### Cycles Array

| Field Name | Datatype | Description |
|---|---|---|
| campaign_cycle | String | Unique Identifier for Cycle |
| start_date | String  | Cycle Start Date |
| end_date | String | Cycle End Date |
| impressions | Int | Total Impressions for Cycle |
| clicks | Float | Total Clicks for Cycle |
| click_to_calls | Int | Total Click-to-Calls for Cycle. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int | Total Calls for Cycle |
| qualified_web_events | Int  | Total Lead Generating CVT/Web Events for Cycle |
| non_qualified_web_events | Int | Total Non-Lead Generating CVT/Web Events for Cycle |
| emails | Int | Total Emails for Cycle |
| chats | Int | Total chat generated by paid traffic for Cycle |
| leads | Int | Total Leads for Cycle (calls + email + chat + qualified web events) |
| spend | Float  | Total Spend for Cycle |
| ctr | Float | Click-through Rate for Cycle |
| cpc | Float | Cost Per Click for Cycle |
| wpcs | WPC[] | Array of WPCs |
| cpl | Float | Cost Per Lead for Cycle |
| link_clicks | Int | Total link clicks for Cycle |
| post_engagements | Float | Total post engagements for a Cycle |
| post_engagements | Float | Total page engagements for a Cycle|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Cycle |
| form_submissions_ct |Float|Total For Submission Click Through for Cycle|
| form_submissions_vt |Float|Total Form Submission View Through for Cycle|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Cycle|
| priority_page_views_vt |Float|Total Priority Page View Through for Cycle|
| website_visits_vt |Float|Total Website Visits View Through for Cycle|
| walk_ins |Float|Total Walk-ins for Cycle|
| engagements |Float|Total engagements for Cycle|
| engagement_rate |Float|Total engagement rate for Cycle|
| cost_per_engagement |Float|Total cost per engagement for Cycle|

<a name="xmopublishers"></a>
### WPC Object

| Field Name | Datatype | Description |
|---|---|---|
| id | String | Unique Identifier for WPC |
| name | String  | Name of WPC |
| channel | String | Channel for WPC |
| geo_type | String | GeoType for WPC |
| start_date | String | WPC Start Date |
| end_date | String  | WPC End Date |
| tactic | String  | Tactic for WPC (Offer Name) |
| external_account_id | String | External Account ID for WPC |
| external_account_name | String | External Account Name for WPC |
| impressions | Int  | Total Impressions for WPC |
| clicks | Float | Total Clicks for WPC |
| views | Float | Total Views for WPC |
| click_to_calls | Int | Total Click-to-Calls for WPC. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int | Total Calls for WPC |
| qualified_web_events | Int | Total Lead Generating CVT/Web Events for WPC |
| non_qualified_web_events | Int  | Total Non-Lead Generating CVT/Web Events for WPC |
| emails | Int | Total Emails for WPC |
| chats | Int | Total chat generated by paid traffic for WPC |
| leads | Int | Total Leads for WPC (calls + email + chat + qualified web events) |
| spend | Float  | Total Spend for WPC |
| ctr | Float | Click-through Rate for WPC |
| cpc | Float | Cost Per Click for WPC |
| cpl | Float  | Cost Per Lead for WPC |
| link_clicks | Int | Total link clicks for WPC |
| post_engagements | Float | Total post engagements for a WPC |
| post_engagements | Float | Total page engagements for a WPC|
| targeted_display_form_submissions | Float | Total targeted display form submissions for WPC |
| form_submissions_ct |Float|Total For Submission Click Through for WPC|
| form_submissions_vt |Float|Total Form Submission View Through for WPC|
| priority_page_views_ct |Float|Total Priority Page View Click Through for WPC|
| priority_page_views_vt |Float|Total Priority Page View Through for WPC|
| website_visits_vt |Float|Total Website Visits View Through for WPC|
| walk_ins |Float|Total Walk-ins for WPC|
| engagements |Float|Total engagements for WPC|
| engagement_rate |Float|Total engagement rate for WPC|
| cost_per_engagement |Float|Total cost per engagement for WPC|
| intervals | Interval[] | Array of Intervals |

<a name="xmointervals"></a>
**Intervals Array**

| Field Name | Datatype | Description |
|---|---|---|
| start_date | String | Start Date for Interval |
| impressions | Int | Total Impressions for Interval |
| clicks | Float | Total Clicks for Interval |
| views | Float | Total Views for Interval |
| click_to_calls | Int  | Total Click-to-Calls for Interval. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int | Total Calls for Interval |
| qualified_web_events | Int | Total Lead Generating CVT/Web Events for Interval |
| non_qualified_web_events | Int  | Total Non-Lead Generating CVT/Web Events for Interval |
| emails | Int  | Total Emails for Interval |
| chats | Int | Total chat generated by paid traffic for Interval |
| leads | Int | Total Leads for Interval (calls + email + chat + qualified web events) |
| spend | Float | Total Spend for Interval |
| ctr | Float| Click-through Rate for Interval |
| cpc | Float  | Cost Per Click for Interval |
| cpl | Float | Cost Per Lead for Interval |
| link_clicks | Int | Total link clicks for Interval |
| post_engagements | Float | Total post engagements for a Interval |
| post_engagements | Float | Total page engagements for a Interval|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Interval |
| form_submissions_ct |Float|Total For Submission Click Through for Interval|
| form_submissions_vt |Float|Total Form Submission View Through for Interval|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Interval|
| priority_page_views_vt |Float|Total Priority Page View Through for Interval|
| website_visits_vt |Float|Total Website Visits View Through for Interval|
| walk_ins |Float|Total Walk-ins for Interval|
| engagements |Float|Total engagements for Interval|
| engagement_rate |Float|Total engagement rate for Interval|
| cost_per_engagement |Float|Total cost per engagement for Interval|

<a name="xmototals"></a>
**Totals Object**

| Field Name | Datatype  | Description |
|---|---|---|
| impressions | Int | Total Impressions |
| clicks | Float | Total Clicks |
| views | Float | Total Views |
| click_to_calls | Int | Total Click-to-Calls. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int | Total Calls |
| qualified_web_events | Int | Total Lead Generating CVT/Web Events |
| non_qualified_web_events | Int | Total Non-Lead Generating CVT/Web Events Web Events |
| emails | Float | Total Emails |
| chats | Float | Total chat generated by paid traffic |
| leads | Float  | Total Leads (calls + email + chat + qualified web events) |
| spend | Float  | Total Spend |
| ctr | Float  | Overall Click-through Rate |
| cpc | Float | Overall Cost Per Click |
| cpl | Float | Overall Cost Per Lead |
| link_clicks | Int | Total link clicks |
| post_engagements | Float | Total post engagements |
| post_engagements | Float | Total page engagements |
| targeted_display_form_submissions | Float | Total targeted display form submissions |
| form_submissions_ct |Float|Total For Submission Click Through |
| form_submissions_vt |Float|Total Form Submission View Through |
| priority_page_views_ct |Float|Total Priority Page View Click Through |
| priority_page_views_vt |Float|Total Priority Page View Through |
| website_visits_vt |Float|Total Website Visits View Through |
| walk_ins |Float|Total Walk-ins |
| engagements |Float|Total engagements |
| engagement_rate |Float|Total engagement rate |
| cost_per_engagement |Float|Total cost per engagement |

<a name="totalsinterval"></a>
**Totals by Interval Object**

| Field Name | Datatype | Description |
|---|---|---|
| start_date | String | Campaign Start Date |
| impressions | Int  | Total Impressions for Interval |
| clicks | Float | Total Clicks for Interval |
| views | Float | Total Views for Interval |
| click_to_calls | Int | Total Click-to-Calls for Interval. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int  | Total Calls for Interval |
| qualified_web_events | Int  | Total Lead Generating CVT/Web Events for Interval |
| non_qualified_web_events | Int | Total Non-Lead Generating CVT/Web Events for Interval |
| emails | Int | Total Emails for Interval |
| chats | Int | Total chat generated by paid traffic for Interval |
| leads | Int | Total Leads for Interval (calls + email + chat + qualified web events) |
| spend | Float | Total Spend for Interval |
| ctr | Float | Click-through Rate for Interval |
| cpc | Float | Cost Per Click for Interval |
| cpl | Float | Cost Per Lead for Interval |
| link_clicks | Int | Total link clicks for Interval |
| post_engagements | Float | Total post engagements for a Interval |
| post_engagements | Float | Total page engagements for a Interval|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Interval |
| form_submissions_ct |Float|Total For Submission Click Through for Interval|
| form_submissions_vt |Float|Total Form Submission View Through for Interval|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Interval|
| priority_page_views_vt |Float|Total Priority Page View Through for Interval|
| website_visits_vt |Float|Total Website Visits View Through for Interval|
| walk_ins |Float|Total Walk-ins for Interval|
| engagements |Float|Total engagements for Interval|
| engagement_rate |Float|Total engagement rate for Interval|
| cost_per_engagement |Float|Total cost per engagement for Interval|

<a name="totalschannel"></a>
**Totals Per channel Object**

| Field Name | Datatype | Description |
|---|---|---|
| channel | String | Channel Name |
| impressions | Int | Total Impressions for Channel |
| clicks | Float  | Total Clicks for Channel |
| views | Float  | Total Views for Channel |
| click_to_calls | Int | Total Click-to-Calls for Channel. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int  | Total Calls for Channel |
| qualified_web_events | Int  | Total Lead Generating CVT/Web Events for Channel |
| non_qualified_web_events | Int  | Total Non-Lead Generating CVT/Web Events for Channel |
| emails | Int | Total Emails for Channel |
| chats | Int | Total chat generated by paid traffic for Channel |
| leads | Int |  Total Leads for Channel (calls + email + chat + qualified web events) |
| spend | Float | Total Spend for Channel |
| ctr | Float | Click-through Rate for Channel |
| cpc | Float  | Cost Per Click for Channel |
| cpl | Float  | Cost Per Lead for Channel |
| link_clicks | Int | Total link clicks for Channel |
| post_engagements | Float | Total post engagements for a Channel |
| post_engagements | Float | Total page engagements for a Channel|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Channel |
| form_submissions_ct |Float|Total For Submission Click Through for Channel|
| form_submissions_vt |Float|Total Form Submission View Through for Channel|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Channel|
| priority_page_views_vt |Float|Total Priority Page View Through for Channel|
| website_visits_vt |Float|Total Website Visits View Through for Channel|
| walk_ins |Float|Total Walk-ins for Channel|
| engagements |Float|Total engagements for Channel|
| engagement_rate |Float|Total engagement rate for Channel|
| cost_per_engagement |Float|Total cost per engagement for Channel|

<a name="totalpublisher"></a>
**Totals Per Publisher Object**


| Field Name | Datatype  | Description |
|---|---|---|---|
| publisher | String | Publisher Name |
| impressions | Int | Total Impressions for Publisher |
| clicks | Float  | Total Clicks for Publisher |
| views | Float  | Total Views for Publisher |
| click_to_calls | Int | Total Click-to-Calls for Publisher. This is the count of clicks associated with a phone call.  Calls to the same campaign from the same number are counted as one click_to_call.  |
| calls | Int  | Total Calls for Publisher |
| qualified_web_events | Int  | Total Lead Generating CVT/Web Events for Publisher |
| non_qualified_web_events | Int | Total Non-Lead Generating CVT/Web Events for Publisher |
| emails | Int  | Total Emails for Publisher |
| chats | Int | Total chat generated by paid traffic for Publisher |
| leads | Int  | Total Leads for Publisher |
| spend | Float  | Total Spend for Publisher |
| ctr | Float | Click-through Rate for Publisher |
| cpc | Float  | Cost Per Click for Publisher |
| cpl | Float  | Cost Per Lead for Publisher |
| link_clicks | Int | Total link clicks for Publisher |
| post_engagements | Float | Total post engagements for a Publisher |
| post_engagements | Float | Total page engagements for a Publisher|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Publisher |
| form_submissions_ct |Float|Total For Submission Click Through for Publisher|
| form_submissions_vt |Float|Total Form Submission View Through for Publisher|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Publisher|
| priority_page_views_vt |Float|Total Priority Page View Through for Publisher|
| website_visits_vt |Float|Total Website Visits View Through for Publisher|
| walk_ins |Float|Total Walk-ins for Publisher|
| engagements |Float|Total engagements for Publisher|
| engagement_rate |Float|Total engagement rate for Publisher|
| cost_per_engagement |Float|Total cost per engagement for Publisher|

> Example Response with include_cycles=true

```javascript
{
    "api_name": "xmedia_channel",
    "api_run_date": "2020-09-24",
    "earliest_date_available": "2020-09-10",
    "start_date": "2020-09-15",
    "end_date": "2020-09-15",
    "time_zone": "America/Los_Angeles",
    "interval_size": "day",
    "currency": "USD",
    "global_master_advertiser_id": "TEST_1",
    "advertiser_name": "Advertiser (Demo)",
    "report_data": {
        "campaigns": [
            {
                "name": "Xmedia Campaign (Demo)",
                "global_master_campaign_id": "TEST_24638",
                "organization": "reachlocal",
                "start_date": "2020-09-10",
                "end_date": null,
                "type": "xmedia",
                "status": "running",
                "goals": [
                    {
                        "goal_type": "CPL"
                    },
                    {
                        "goal_type": "Contacts (Dynamic Ads - Automotive)"
                    }
                ],
                "impressions": 1069,
                "clicks": 17,
                "views": 8,
                "click_to_calls": 10,
                "calls": 10,
                "qualified_web_events": 2,
                "non_qualified_web_events": 2,
                "emails": 8,
                "chats": 8,
                "leads": 28,
                "spend": 25.0,
                "ctr": 1.59,
                "cpc": 1.47,
                "cpl": 0.89,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0,
                "cycles": [
                    {
                        "campaign_cycle": "TEST_24639",
                        "start_date": "2020-09-10",
                        "end_date": null,
                        "impressions": 1069,
                        "clicks": 17,
                        "views": 8,
                        "click_to_calls": 10,
                        "calls": 10,
                        "qualified_web_events": 2,
                        "non_qualified_web_events": 2,
                        "emails": 8,
                        "chats": 8,
                        "leads": 28,
                        "spend": 25.0,
                        "ctr": 1.59,
                        "cpc": 1.47,
                        "cpl": 0.89,
                        "link_clicks": 0,
                        "post_engagements": 0,
                        "targeted_display_form_submissions": 0,
                        "form_submissions_ct": 0,
                        "form_submissions_vt": 0,
                        "priority_page_views_ct": 0,
                        "priority_page_views_vt": 0,
                        "website_visits_vt": 0,
                        "walk_ins": 0,
                        "engagements": 0,
                        "engagement_rate": 0,
                        "cost_per_engagement": 0,
                        "page_engagements": 0,
                        "wpcs": [
                            {
                                "id": 24640,
                                "name": "Search National",
                                "channel": "search",
                                "geo_type": "National",
                                "start_date": "2020-09-10",
                                "end_date": null,
                                "tactic": "Omnichannel - Smart",
                                "external_account_id": "12345",
                                "external_account_name": "test",
                                "impressions": 213,
                                "clicks": 3,
                                "views": 3,
                                "click_to_calls": 2,
                                "calls": 2,
                                "qualified_web_events": 0,
                                "non_qualified_web_events": 0,
                                "emails": 1,
                                "chats": 1,
                                "leads": 4,
                                "spend": 5.0,
                                "ctr": 1.41,
                                "cpc": 1.67,
                                "cpl": 1.25,
                                "link_clicks": 0,
                                "post_engagements": 0,
                                "targeted_display_form_submissions": 0,
                                "form_submissions_ct": 0,
                                "form_submissions_vt": 0,
                                "priority_page_views_ct": 0,
                                "priority_page_views_vt": 0,
                                "website_visits_vt": 0,
                                "walk_ins": 0,
                                "engagements": 0,
                                "engagement_rate": 0,
                                "cost_per_engagement": 0,
                                "page_engagements": 0,
                                "intervals": [
                                    {
                                        "start_date": "2020-09-15",
                                        "impressions": 213,
                                        "clicks": 3,
                                        "views": 3,
                                        "click_to_calls": 2,
                                        "calls": 2,
                                        "qualified_web_events": 0,
                                        "non_qualified_web_events": 0,
                                        "emails": 1,
                                        "chats": 1,
                                        "leads": 4,
                                        "spend": 5.0,
                                        "ctr": 1.41,
                                        "cpc": 1.67,
                                        "cpl": 1.25
                                        "link_clicks": 0,
                                        "post_engagements": 0,
                                        "targeted_display_form_submissions": 0,
                                        "form_submissions_ct": 0,
                                        "form_submissions_vt": 0,
                                        "priority_page_views_ct": 0,
                                        "priority_page_views_vt": 0,
                                        "website_visits_vt": 0,
                                        "walk_ins": 0,
                                        "engagements": 0,
                                        "engagement_rate": 0,
                                        "cost_per_engagement": 0,
                                        "page_engagements": 0,
                                    }
                                ]
                            },
                            {
                                "id": 24641,
                                "name": "Display National",
                                "channel": "display",
                                "geo_type": "National",
                                "start_date": "2020-09-10",
                                "end_date": null,
                                "tactic": "Omnichannel - Smart",
                                "external_account_id": "12345",
                                "external_account_name": "test",
                                "impressions": 213,
                                "clicks": 3,
                                "views": 3,
                                "click_to_calls": 2,
                                "calls": 2,
                                "qualified_web_events": 0,
                                "non_qualified_web_events": 0,
                                "emails": 1,
                                "chats": 1,
                                "leads": 4,
                                "spend": 5.0,
                                "ctr": 1.41,
                                "cpc": 1.67,
                                "cpl": 1.25,
                                "link_clicks": 0,
                                "post_engagements": 0,
                                "targeted_display_form_submissions": 0,
                                "form_submissions_ct": 0,
                                "form_submissions_vt": 0,
                                "priority_page_views_ct": 0,
                                "priority_page_views_vt": 0,
                                "website_visits_vt": 0,
                                "walk_ins": 0,
                                "engagements": 0,
                                "engagement_rate": 0,
                                "cost_per_engagement": 0,
                                "page_engagements": 0,
                                "intervals": [
                                    {
                                        "start_date": "2020-09-15",
                                        "impressions": 213,
                                        "clicks": 3,
                                        "views": 3,
                                        "click_to_calls": 2,
                                        "calls": 2,
                                        "qualified_web_events": 0,
                                        "non_qualified_web_events": 0,
                                        "emails": 1,
                                        "chats": 1,
                                        "leads": 4,
                                        "spend": 5.0,
                                        "ctr": 1.41,
                                        "cpc": 1.67,
                                        "cpl": 1.25
                                        "link_clicks": 0,
                                        "post_engagements": 0,
                                        "targeted_display_form_submissions": 0,
                                        "form_submissions_ct": 0,
                                        "form_submissions_vt": 0,
                                        "priority_page_views_ct": 0,
                                        "priority_page_views_vt": 0,
                                        "website_visits_vt": 0,
                                        "walk_ins": 0,
                                        "engagements": 0,
                                        "engagement_rate": 0,
                                        "cost_per_engagement": 0,
                                        "page_engagements": 0,
                                    }
                                ]
                            },
                            {
                                "id": 24643,
                                "name": "YouTube National",
                                "channel": "other",
                                "geo_type": "National",
                                "start_date": "2020-09-10",
                                "end_date": null,
                                "tactic": "Omnichannel - Smart",
                                "external_account_id": "12345",
                                "external_account_name": "test",
                                "impressions": 213,
                                "clicks": 3,
                                "views": 3,
                                "click_to_calls": 2,
                                "calls": 2,
                                "qualified_web_events": 0,
                                "non_qualified_web_events": 0,
                                "emails": 1,
                                "chats": 1,
                                "leads": 4,
                                "spend": 5.0,
                                "ctr": 1.41,
                                "cpc": 1.67,
                                "cpl": 1.25,
                                "link_clicks": 0,
                                "post_engagements": 0,
                                "targeted_display_form_submissions": 0,
                                "form_submissions_ct": 0,
                                "form_submissions_vt": 0,
                                "priority_page_views_ct": 0,
                                "priority_page_views_vt": 0,
                                "website_visits_vt": 0,
                                "walk_ins": 0,
                                "engagements": 0,
                                "engagement_rate": 0,
                                "cost_per_engagement": 0,
                                "page_engagements": 0,
                                "intervals": [
                                    {
                                        "start_date": "2020-09-15",
                                        "impressions": 213,
                                        "clicks": 3,
                                        "views": 3,
                                        "click_to_calls": 2,
                                        "calls": 2,
                                        "qualified_web_events": 0,
                                        "non_qualified_web_events": 0,
                                        "emails": 1,
                                        "chats": 1,
                                        "leads": 4,
                                        "spend": 5.0,
                                        "ctr": 1.41,
                                        "cpc": 1.67,
                                        "cpl": 1.25,
                                        "link_clicks": 0,
                                        "post_engagements": 0,
                                        "targeted_display_form_submissions": 0,
                                        "form_submissions_ct": 0,
                                        "form_submissions_vt": 0,
                                        "priority_page_views_ct": 0,
                                        "priority_page_views_vt": 0,
                                        "website_visits_vt": 0,
                                        "walk_ins": 0,
                                        "engagements": 0,
                                        "engagement_rate": 0,
                                        "cost_per_engagement": 0,
                                        "page_engagements": 0,
                                    }
                                ]
                            },
                            {
                                "id": 24644,
                                "name": "Social National",
                                "channel": "social",
                                "geo_type": "National",
                                "start_date": "2020-09-10",
                                "end_date": null,
                                "tactic": "Omnichannel - Smart",
                                "external_account_id": "12345",
                                "external_account_name": "test",
                                "impressions": 213,
                                "clicks": 3,
                                "views": 3,
                                "click_to_calls": 2,
                                "calls": 2,
                                "qualified_web_events": 0,
                                "non_qualified_web_events": 0,
                                "emails": 1,
                                "chats": 1,
                                "leads": 4,
                                "spend": 5.0,
                                "ctr": 1.41,
                                "cpc": 1.67,
                                "cpl": 1.25,
                                "link_clicks": 0,
                                "post_engagements": 0,
                                "targeted_display_form_submissions": 0,
                                "form_submissions_ct": 0,
                                "form_submissions_vt": 0,
                                "priority_page_views_ct": 0,
                                "priority_page_views_vt": 0,
                                "website_visits_vt": 0,
                                "walk_ins": 0,
                                "engagements": 0,
                                "engagement_rate": 0,
                                "cost_per_engagement": 0,
                                "page_engagements": 0,
                                "intervals": [
                                    {
                                        "start_date": "2020-09-15",
                                        "impressions": 213,
                                        "clicks": 3,
                                        "views": 3,
                                        "click_to_calls": 2,
                                        "calls": 2,
                                        "qualified_web_events": 0,
                                        "non_qualified_web_events": 0,
                                        "emails": 1,
                                        "chats": 1,
                                        "leads": 4,
                                        "spend": 5.0,
                                        "ctr": 1.41,
                                        "cpc": 1.67,
                                        "cpl": 1.25,
                                        "link_clicks": 0,
                                        "post_engagements": 0,
                                        "targeted_display_form_submissions": 0,
                                        "form_submissions_ct": 0,
                                        "form_submissions_vt": 0,
                                        "priority_page_views_ct": 0,
                                        "priority_page_views_vt": 0,
                                        "website_visits_vt": 0,
                                        "walk_ins": 0,
                                        "engagements": 0,
                                        "engagement_rate": 0,
                                        "cost_per_engagement": 0,
                                        "page_engagements": 0,
                                    }
                                ]
                            },
                            {
                                "id": 24645,
                                "name": "Chat National",
                                "channel": "chat",
                                "geo_type": "National",
                                "start_date": "2020-09-10",
                                "end_date": null,
                                "tactic": "Omnichannel - Smart",
                                "external_account_id": "12345",
                                "external_account_name": "test",
                                "impressions": 217,
                                "clicks": 5,
                                "views": 3,
                                "click_to_calls": 2,
                                "calls": 2,
                                "qualified_web_events": 2,
                                "non_qualified_web_events": 2,
                                "emails": 4,
                                "chats": 4,
                                "leads": 12,
                                "spend": 5.0,
                                "ctr": 2.3,
                                "cpc": 1.0,
                                "cpl": 0.42,
                                "link_clicks": 0,
                                "post_engagements": 0,
                                "targeted_display_form_submissions": 0,
                                "form_submissions_ct": 0,
                                "form_submissions_vt": 0,
                                "priority_page_views_ct": 0,
                                "priority_page_views_vt": 0,
                                "website_visits_vt": 0,
                                "walk_ins": 0,
                                "engagements": 0,
                                "engagement_rate": 0,
                                "cost_per_engagement": 0,
                                "page_engagements": 0,
                                "intervals": [
                                    {
                                        "start_date": "2020-09-15",
                                        "impressions": 217,
                                        "clicks": 5,
                                        "views": 3,
                                        "click_to_calls": 2,
                                        "calls": 2,
                                        "qualified_web_events": 2,
                                        "non_qualified_web_events": 2,
                                        "emails": 4,
                                        "chats": 4,
                                        "leads": 12,
                                        "spend": 5.0,
                                        "ctr": 2.3,
                                        "cpc": 1.0,
                                        "cpl": 0.42,
                                        "link_clicks": 0,
                                        "post_engagements": 0,
                                        "targeted_display_form_submissions": 0,
                                        "form_submissions_ct": 0,
                                        "form_submissions_vt": 0,
                                        "priority_page_views_ct": 0,
                                        "priority_page_views_vt": 0,
                                        "website_visits_vt": 0,
                                        "walk_ins": 0,
                                        "engagements": 0,
                                        "engagement_rate": 0,
                                        "cost_per_engagement": 0,
                                        "page_engagements": 0,
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ],
        "totals": {
            "impressions": 1069,
            "clicks": 17,
            "views": 8,
            "click_to_calls": 10,
            "calls": 10,
            "qualified_web_events": 2,
            "non_qualified_web_events": 2,
            "emails": 8,
            "chats": 8,
            "leads": 28,
            "spend": 25.0,
            "ctr": 1.59,
            "cpc": 1.47,
            "cpl": 0.89,
            "link_clicks": 0,
            "post_engagements": 0,
            "targeted_display_form_submissions": 0,
            "form_submissions_ct": 0,
            "form_submissions_vt": 0,
            "priority_page_views_ct": 0,
            "priority_page_views_vt": 0,
            "website_visits_vt": 0,
            "walk_ins": 0,
            "engagements": 0,
            "engagement_rate": 0,
            "cost_per_engagement": 0,
            "page_engagements": 0,
        },
        "totals_per_interval": [
            {
                "start_date": "2020-09-15",
                "impressions": 1069,
                "clicks": 17,
                "views": 8,
                "click_to_calls": 10,
                "calls": 10,
                "qualified_web_events": 2,
                "non_qualified_web_events": 2,
                "emails": 8,
                "chats": 8,
                "leads": 28,
                "spend": 25.0,
                "ctr": 1.59,
                "cpc": 1.47,
                "cpl": 0.89,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0,
            }
        ],
        "totals_by_channel": [
            {
                "channel": "search",
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0,
            },
            {
                "channel": "display",
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0,
            },
            {
                "channel": "other",
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0,
            },
            {
                "channel": "social",
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
            {
                "channel": "lsa",
                "impressions": 2917,
                "clicks": 31,
                "views": 3,
                "click_to_calls": 32,
                "calls": 32,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 13,
                "chats": 13,
                "leads": 58,
                "spend": 58.38,
                "ctr": 1.06,
                "cpc": 1.88,
                "cpl": 1.01,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
            {
                "channel": "chat",
                "impressions": 217,
                "clicks": 5,
                "views": 5,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 2,
                "non_qualified_web_events": 2,
                "emails": 4,
                "chats": 4,
                "leads": 12,
                "spend": 5.0,
                "ctr": 2.3,
                "cpc": 1.0,
                "cpl": 0.42,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
                "channel": "video",
                "impressions": 580,
                "clicks": 6,
                "views": 6,
                "click_to_calls": 6,
                "calls": 6,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 3,
                "chats": 3,
                "leads": 12,
                "spend": 12.51,
                "ctr": 1.03,
                "cpc": 2.09,
                "cpl": 1.04,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
        ],
        "totals_by_publisher": [
            {
                "publisher": "Google",
                "publisher_id": 1,
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
            {
                "publisher": "Simpli.fi API",
                "publisher_id": 49,
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
            {
                "publisher": "Youtube - Google",
                "publisher_id": 65,
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
            {
                "publisher": "Facebook",
                "publisher_id": 38,
                "impressions": 213,
                "clicks": 3,
                "views": 3,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 0,
                "non_qualified_web_events": 0,
                "emails": 1,
                "chats": 1,
                "leads": 4,
                "spend": 5.0,
                "ctr": 1.41,
                "cpc": 1.67,
                "cpl": 1.25,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            },
            {
                "publisher": "Apex Chat - VendoMax Inc.",
                "publisher_id": 1400,
                "impressions": 217,
                "clicks": 5,
                "views": 5,
                "click_to_calls": 2,
                "calls": 2,
                "qualified_web_events": 2,
                "non_qualified_web_events": 2,
                "emails": 4,
                "chats": 4,
                "leads": 12,
                "spend": 5.0,
                "ctr": 2.3,
                "cpc": 1.0,
                "cpl": 0.42,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            }
        ]
    }
}
```
