### **XMO Metrics**
<a name="xmo_metrics"></a>

### Resource Overview

| Method | URI Format |
|---|---|
| GET | /client_reports/xmedia/[gmaid]?[query_params] |

Use GET to retrieve campaign performance metrics for the Cross Media Optimization (XMO) campaigns.

The data returned will include impressions, leads, clicks, calls, qualified_web_events, web_events, emails, chats and totals of the leads. Please note chats will be reported as 0 in this API. Please use the XMO channel metrics API to get the chat counts. The total leads are based on all web events.


### Parameters

When using the GET method, the results can be filtered using these parameters:

| Param | Function|
|---|---|
|`start_date`|Restricts the results to those ocurring on or after this date.|
|`end_date`|Restricts the results to those ocurring on or before this date.|
|`global_master_campaign_id[]`|Restrict results to one or more specific campaigns.|
|`campaign_status[]`|Restrict results to all campaigns with given status values.  Allowed values are `running`, `stopped` and `ended`|
|`campaign_types[]`|Default: `xmedia` (can be used to return other campaign types)|
|`campaign_cycle`|Restrict results to a single campaign cycle|
|`interval_size`| Use `calendar_month` or `calendar_week` to roll up the data points into calendar intervals (default is 1 day per interval)|
|`include_cycles`|Set to true or false on whether to include cycle nesting.  Default value is false.|
<% if false %>
|`markup_type`|Only supported value is 'percentage' |
|`markup_value`|"cost" fields (spend & budget) will be marked up by this pecentage |
<% end %>

### Response Data Details

> Retrieve data for a specific range of dates

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia/TEST_1?start_date=2020-03-10&end_date=2020-03-10"
```

> Retrieve data for a specific range of dates

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia/TEST_1?start_date=2016-12-01&end_date=2016-12-31"
```
> Retrieve data for a specific campaign starting on a certain date

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia/TEST_1?global_master_campaign_id[]=USA_14&start_date=2016-10-01&end_date=2016-12-31"
```
> Retrieve data for a specific campaign cycle

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia/TEST_1?campaign_cycle=USA_100"
```
> Retrieve data for campaigns that are stopped and running

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia/TEST_1?campaign_status[]=running&campaign_status[]=stopped&start_date=2016-10-01&end_date=2016-12-31"
```

> Retrieve data for a specific campaign starting on a certain date with cycle nesting

```
curl -H "Authorization: Bearer OAUTH_ACCESS_TOKEN" \
"https://api.localiqservices.com/client_reports/xmedia/TEST_1?global_master_campaign_id[]=USA_14&start_date=2016-10-01&end_date=2016-12-31&include_cycles=true"
```
>  Example Response

```javascript
{
    "api_name": "xmedia",
    "api_run_date": "2020-07-08",
    "earliest_date_available": "2020-07-01",
    "start_date": "2020-07-01",
    "end_date": "2020-07-01",
    "time_zone": "America/Los_Angeles",
    "interval_size": "day",
    "currency": "USD",
    "global_master_advertiser_id": "TEST_1",
    "advertiser_name": "Advertiser (Demo)",
    "report_data": {
        "campaigns": [
            {
                "name": "Xmedia Campaign (Demo)",
                "global_master_campaign_id": "TEST_79936",
                "organization": "reachlocal",
                "start_date": "2020-07-01",
                "end_date": null,
                "type": "xmedia",
                "status": "running",
                "goals": [
                    {
                        "goal_type_id": 1,
                        "goal_type": "CPL"
                    },
                    {
                        "goal_type_id": 6,
                        "goal_type": "Contacts (Dynamic Ads - Automotive)"
                    }
                ],
                "intervals": [
                    {
                        "start_date": "2020-07-01",
                        "impressions": 1184,
                        "clicks": 18,
                        "views": 18,
                        "calls": 9,
                        "web_events": 7,
                        "qualified_web_events": 3,
                        "emails": 9,
                        "chats": 0,
                        "leads": 25,
                        "spend": 25.0,
                        "ctr": 1.52,
                        "cpc": 1.39,
                        "link_clicks": 0,
                        "post_engagements": 0,
                        "targeted_display_form_submissions": 0,
                        "form_submissions_ct": 0,
                        "form_submissions_vt": 0,
                        "priority_page_views_ct": 0,
                        "priority_page_views_vt": 0,
                        "website_visits_vt": 0,
                        "walk_ins": 0,
                        "engagements": 0,
                        "engagement_rate": 0,
                        "cost_per_engagement": 0,
                        "page_engagements": 0
                    }
                ]
            }
        ],
        "totals": {
            "impressions": 1184.0,
            "clicks": 18,
            "views": 18,
            "calls": 9,
            "web_events": 7,
            "qualified_web_events": 3,
            "emails": 9,
            "chats": 0,
            "leads": 25,
            "spend": 25.0,
            "ctr": 1.52,
            "cpc": 1.39,
            "link_clicks": 0,
            "post_engagements": 0,
            "targeted_display_form_submissions": 0,
            "form_submissions_ct": 0,
            "form_submissions_vt": 0,
            "priority_page_views_ct": 0,
            "priority_page_views_vt": 0,
            "website_visits_vt": 0,
            "walk_ins": 0,
            "engagements": 0,
            "engagement_rate": 0,
            "cost_per_engagement": 0,
            "page_engagements": 0
        },
        "totals_per_interval": [
            {
                "start_date": "2020-07-01",
                "impressions": 1184,
                "clicks": 18,
                "views": 18,
                "calls": 9,
                "web_events": 7,
                "qualified_web_events": 3,
                "emails": 9,
                "chats": 0,
                "leads": 25,
                "spend": 25.0,
                "ctr": 1.52,
                "cpc": 1.39,
                "link_clicks": 0,
                "post_engagements": 0,
                "targeted_display_form_submissions": 0,
                "form_submissions_ct": 0,
                "form_submissions_vt": 0,
                "priority_page_views_ct": 0,
                "priority_page_views_vt": 0,
                "website_visits_vt": 0,
                "walk_ins": 0,
                "engagements": 0,
                "engagement_rate": 0,
                "cost_per_engagement": 0,
                "page_engagements": 0
            }
        ]
    }
}
```


**Campaigns**

| Field Name | Datatype | Description |
|---|---|---|
| name | String | Campaign Name |
| global_master_campaign_id | String | Unique Identifier for Campaign |
| organization | String | Either reachlocal or gannett |
| start_date | String | Campaign Start Date |
| end_date | String | Campaign End Date |
| type | String | Type of Campaign |
| status | String | Status of Campaign |

**Goals Array**

| Field Name | Datatype | Description |
|---|---|---|
| goal_type_id | Int|  goal type id |
| goal_type | String|  goal type name |


**Intervals Array**

| Field Name | Datatype | Description |
|---|---|---|
| start_date | String| Campaign Start Date |
| impressions | Int | Total Impressions for Campaign |
| clicks | Float | Total Clicks for Interval |
| views | Float | Total Views for Interval |
| calls | Float | Total Calls for Interval |
| web_events | Int | Total Web Events for Interval |
| qualified_web_events | Int | Total lead-generating CVT/Web Events for Interval |
| emails | Float | Total Emails for Interval |
| chats | Float | Total chat generated by paid traffic for Interval |
| leads | Float | Total Leads for Campaign |
| spend | Float | Total Spend for Interval |
| ctr | Float | Click-through Rate for Interval |
| cpc | Float | Cost Per Click for Interval |
| link_clicks | Int | Total link clicks for Interval |
| post_engagements | Float | Total post engagements for a Interval |
| post_engagements | Float | Total page engagements for a Interval|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Interval |
| form_submissions_ct |Float|Total For Submission Click Through for Interval|
| form_submissions_vt |Float|Total Form Submission View Through for Interval|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Interval|
| priority_page_views_vt |Float|Total Priority Page View Through for Interval|
| website_visits_vt |Float|Total Website Visits View Through for Interval|
| walk_ins |Float|Total Walk-ins for Interval|
| engagements |Float|Total engagements for Interval|
| engagement_rate |Float|Total engagement rate for Interval|
| cost_per_engagement |Float|Total cost per engagement for Interval|

**Totals Object**

| Field Name | Datatype | Description |
|---|---|---|
| impressions | Int | Total Impressions |
| clicks | Float | Total Clicks |
| views | Float | Total Views |
| calls | Float| Total Calls |
| web_events | Int | Total Web Events |
| qualified_web_events | Int | Total lead-generating CVT/Web Events |
| emails | Float | Total Emails |
| chats | Float | Total chat generated by paid traffic |
| leads | Float | Total Leads |
| spend | Float | Total Spend |
| ctr | Float | Overall Click-through Rate |
| cpc | Float | Overall Cost Per Click |
| link_clicks | Int | Total link clicks for WPC |
| post_engagements | Float | Total post engagements for a WPC |
| post_engagements | Float | Total page engagements for a WPC|
| targeted_display_form_submissions | Float | Total targeted display form submissions for WPC |
| form_submissions_ct |Float|Total For Submission Click Through for WPC|
| form_submissions_vt |Float|Total Form Submission View Through for WPC|
| priority_page_views_ct |Float|Total Priority Page View Click Through for WPC|
| priority_page_views_vt |Float|Total Priority Page View Through for WPC|
| website_visits_vt |Float|Total Website Visits View Through for WPC|
| walk_ins |Float|Total Walk-ins for WPC|
| engagements |Float|Total engagements for WPC|
| engagement_rate |Float|Total engagement rate for WPC|
| cost_per_engagement |Float|Total cost per engagement for WPC|

**Totals Per Interval Object**

| Field Name | Datatype | Description |
|---|---|---|
|start_date | String | Start Date of interval |
| impressions | Int | Total Impressions for Campaign |
| clicks | Float | Total Clicks for Interval |
| views | Float | Total Views for Interval |
| calls | Float | Total Calls for Interval |
| web_events | Int  | Total Web Events for Interval |
| qualified_web_events | Int | No | Total lead-generating CVT/Web Events for Interval |
| emails | Float | Total Emails for Interval |
| chats | Float | Total Chats for Interval |
| leads | Float  | Total Leads for Campaign |
| spend | Float | Total Spend for Interval |
| ctr | Float | Click-through Rate for Interval |
| cpc | Float | Cost Per Click for Interval |
| link_clicks | Int | Total link clicks for Interval |
| post_engagements | Float | Total post engagements for a Interval |
| post_engagements | Float | Total page engagements for a Interval|
| targeted_display_form_submissions | Float | Total targeted display form submissions for Interval |
| form_submissions_ct |Float|Total For Submission Click Through for Interval|
| form_submissions_vt |Float|Total Form Submission View Through for Interval|
| priority_page_views_ct |Float|Total Priority Page View Click Through for Interval|
| priority_page_views_vt |Float|Total Priority Page View Through for Interval|
| website_visits_vt |Float|Total Website Visits View Through for Interval|
| walk_ins |Float|Total Walk-ins for Interval|
| engagements |Float|Total engagements for Interval|
| engagement_rate |Float|Total engagement rate for Interval|
| cost_per_engagement |Float|Total cost per engagement for Interval|


